body{
    background-color: $violet;
}
@media (min-width: 1536px) {
    .container {
        max-width: 1720px;
    }
}
.cntrElement{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    &:focus{
        outline: 0 !important;
        box-shadow: none  !important;
    }
}