.Gold {
    background-color: #df98107d !important;
}
.Platinum {
    background-color: #0300ff70 !important;
}
.Local{
    background-color: #6f1359 !important;
}
.International{
    background-color: #de6116 !important;
}